{% extends "Login/Layout-Login.html" %}
{% load static %}
{% block Titulo %}Politicas Cookies{% endblock %}

{% block Container %}

<div class="terminos-container">
    <h1>Politicas de Cookies</h1>
    <div class="terminos-content">
        <h4>Política de Cookies</h4>
        <p>Fecha de entrada en vigor: 12/09/2024</p>
        <h3>1. ¿Qué Son las Cookies?</h3>
        <p>
            Las cookies son pequeños archivos que se colocan en tu dispositivo para mejorar tu experiencia en nuestro Sitio. Utilizamos cookies para recordar tus preferencias y para analizar el uso del Sitio.
        </p>
        <h3>2. Tipos de Cookies que Utilizamos</h3>
        <p>
            Cookies Estríctamente Necesarias: Estas cookies son esenciales para el funcionamiento del Sitio. <br> <br>
            Cookies de Rendimiento: Recopilan información sobre cómo usas el Sitio para mejorar nuestra oferta. <br> <br>
            Cookies de Funcionalidad: Permiten que el Sitio recuerde tus elecciones y preferencias.
        </p>
        <h3>3. Cómo Administrar las Cookies</h3>
        <p>
            Puedes configurar tu navegador para rechazar cookies, pero esto podría afectar tu capacidad para usar algunas funciones del Sitio. Para más detalles sobre cómo gestionar las cookies, consulta la configuración de tu navegador. 
        </p>
        <h3>4. Modificaciones a la Política</h3>
        <p>
            Podemos actualizar esta Política de Cookies en cualquier momento. Los cambios serán publicados en el Sitio y se considerarán efectivos a partir de su publicación.
        </p>
        <h3>5. Contacto</h3>
        <p>
            Si tienes preguntas sobre nuestra Política de Cookies, por favor contacta a CraftCoin en craftcoin.support@gmail.com
        </p>
    </div>
</div>

{% endblock %}