{% extends "Login/Layout-Login.html" %}
{% load static %}
{% block Titulo %}DMCA{% endblock %}

{% block Container %}

<div class="terminos-container">
    <h1>DMCA (Digital Millennium Copyright Act)</h1>
    <div class="terminos-content">
        <h4>Política de Derechos de Autor DMCA</h4>
        <p>Fecha de entrada en vigor: 12/09/2024</p>
        <h3>1. Notificación de Infracción de Derechos de Autor</h3>
        <p>
            Si crees que tu trabajo ha sido copiado de una manera que constituye una infracción de derechos de autor, por favor proporciona una notificación por escrito a CraftCoin que incluya: <br><br><br>

            Una descripción del trabajo protegido por derechos de autor que crees que ha sido infringido. <br> <br>
            Una descripción del material que está infringiéndote y su ubicación en el Sitio. <br> <br>
            Tu información de contacto, incluyendo tu dirección, número de teléfono y dirección de correo electrónico. <br> <br> 
            Una declaración de que crees de buena fe que el uso del material de la manera en cuestión no está autorizado por el titular de los derechos de autor. <br> <br>
            Una declaración bajo pena de perjurio de que la información en tu notificación es precisa y que eres el titular de los derechos de autor o estás autorizad para actuar en nombre del titular. <br> <br>
        </p>
        <h3>2. Respuesta a las Notificaciones</h3>
        <p>
            Cuando recibamos una notificación válida bajo la DMCA, procederemos a eliminar el contenido infractor del Sitio y notificaremos al usuario que ha publicado el contenido infractor.
        </p>
        <h3>3. Contranotificación</h3>
        <p>
            Si crees que tu contenido ha sido eliminado por error, puedes presentar una contranotificación. Incluye: <br> <br><br>

            Una descripción del material eliminado y la ubicación donde estaba antes de ser eliminado. <br> <br>
            Una declaración bajo pena de perjurio de que crees que el material fue eliminado por error o identificación errónea. <br><br>
            Tu información de contacto, incluyendo tu dirección, número de teléfono y dirección de correo electrónico. <br><br>
            Una declaración de que aceptas la jurisdicción del tribunal federal para el distrito judicial en el que resides o, si resides fuera de los Estados Unidos, para cualquier distrito judicial en el que se encuentre el proveedor de servicios. <br>
        </p>
        <h3>4. Contacto para Notificaciones y Contranotificaciones</h3>
        <p>
            Para enviar notificaciones o contranotificaciones, contacta a CraftCoin en craftcoin.support@gmail.com
        </p>
    </div>
</div>

{% endblock %}