{% extends "Login/Layout-Login.html" %}
{% load static %}
{% block Titulo %}Politcas Privacidad{% endblock %}

{% block Container %}

<div class="terminos-container">
    <h1>Terminos De Privacidad</h1>
    <div class="terminos-content">
        <h4>Política de Privacidad</h4>
        <p>Fecha de entrada en vigor: 12/09/2024</p>
        <h3>1. Información que Recopilamos</h3>
        <p>
            Recopilamos información personal que tú nos proporcionas, como tu nombre, dirección de correo electrónico, y otra información relevante cuando usas nuestro Sitio o te registras en nuestros servicios. 
        </p>
        <h3>2. Uso de la Información</h3>
        <p>
            Utilizamos la información personal para proporcionarte nuestros servicios, mejorar la funcionalidad del Sitio, y enviarte comunicaciones relevantes, incluyendo promociones y actualizaciones.
        </p>
        <h3>3. Compartición de la Información</h3>
        <p>
            No compartiremos tu información personal con terceros sin tu consentimiento, salvo que sea necesario para cumplir con nuestras obligaciones legales o para proteger nuestros derechos.
        </p>
        <h3>4. Seguridad</h3>
        <p>
            Tomamos medidas razonables para proteger tu información personal de acceso no autorizado, alteración, divulgación o destrucción.
        </p>
        <h3>5. Tus Derechos</h3>
        <p>
            Tienes derecho a acceder, rectificar o eliminar tu información personal. Para hacerlo, por favor contacta a CraftCoin en craftcoin.support@gmail.com
        </p>
        <h3>6. Modificaciones a la Política</h3>
        <p>
            Podemos actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en el Sitio y se considerará efectivo a partir de su publicación.
        </p>
        <h3>7. Contacto</h3>
        <p>
            Si tienes alguna pregunta sobre nuestra Política de Privacidad, por favor contacta a CraftCoin en craftcoin.support@gmail.com
        </p>
    </div>
</div>

{% endblock %}