{% extends "Login/Layout-Login.html" %}
{% load static %}
{% block Titulo %}Terminos y Condiciones{% endblock %}

{% block Container %}

<div class="terminos-container">
    <h1>Terminos y Condiciones</h1>
    <div class="terminos-content">
        <h4>Términos y Condiciones de Uso</h4>
        <p>Fecha de entrada en vigor: 12/09/2024</p>
        <h3>1. Aceptación de los Términos</h3>
        <p>
            Al acceder y usar el sitio web CraftCoin (en adelante, "el Sitio"), aceptas cumplir y estar sujeto a estos Términos y Condiciones (en adelante, "Términos"). Si no estás de acuerdo con estos Términos, por favor, no uses el Sitio.
        </p>
        <h3>2. Uso del Sitio</h3>
        <p>
            El Sitio está destinado a [describir el propósito del sitio]. Te comprometes a utilizar el Sitio únicamente para fines legales y de acuerdo con todas las leyes aplicables.
        </p>
        <h3>3. Propiedad Intelectual</h3>
        <p>
            Todo el contenido del Sitio, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, es propiedad de CraftCoin o de terceros licenciantes y está protegido por las leyes de propiedad intelectual.
        </p>
        <h3>4. Restricciones de Uso</h3>
        <p>
            No podrás: (a) modificar, reproducir, distribuir o crear trabajos derivados del contenido del Sitio sin el permiso expreso de CraftCoin; (b) usar el Sitio para fines ilegales o no autorizados; (c) interferir con el funcionamiento del Sitio o con la experiencia de otros usuarios.
        </p>
        <h3>5. Exoneración de Responsabilidad</h3>
        <p>
            El Sitio se proporciona "tal cual" y "según disponibilidad". CraftCoin no garantiza que el Sitio esté libre de errores o que el acceso será ininterrumpido. No asumimos ninguna responsabilidad por daños derivados del uso del Sitio.
        </p>
        <h3>6. Modificaciones a los Términos</h3>
        <p>
            CraftCoin se reserva el derecho de modificar estos Términos en cualquier momento. Las modificaciones se publicarán en el Sitio y entrarán en vigor en el momento de su publicación.
        </p>
        <h3>7. Ley Aplicable y Jurisdicción</h3>
        <p>
            Estos Términos se rigen por las leyes de México. Cualquier disputa derivada del uso del Sitio será resuelta en los tribunales competentes de [Ciudad].
        </p>
        <h3>8. Contacto</h3>
        <p>
            Para cualquier pregunta sobre estos Términos, por favor contacta a CraftCoin en craftcoin.support@gmail.com
        </p>
    </div>
</div>

{% endblock %}