asgiref==3.8.1
asyncio-dgram==2.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==5.1
dnspython==2.6.1
idna==3.8
mcstatus==11.1.1
pillow==10.4.0
psycopg2-binary==2.9.9
requests==2.32.3
setuptools==74.1.2
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
