<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earn Coins</title>
    <script>
        function redirectToShortUrl() {
            fetch('/get-short-url/')
                .then(response => response.json())
                .then(data => {
                    if (data.short_url) {
                        window.location.href = data.short_url;
                    } else {
                        console.error('Error al obtener la URL corta:', data.error);
                    }
                })
                .catch(error => console.error('Error en la solicitud:', error));
        }

        // Redirige cada vez que se carga la página
        window.onload = function() {
            redirectToShortUrl();
        };
    </script>
</head>
<body>
    <h1>Redirecting...</h1>
</body>
</html>
