{% extends "Layout-Index.html" %}
{% load static %}
{% block Titulo %}CraftCoin{% endblock %}

{% block Container %}

<div class="content-index">
    <div class="image-container">
        <img src="{% static "img/Fondo.png" %}" alt="Imagen Principal" class="image-blur">
        <img src="{% static "img/Fondo.png" %}" alt="Imagen Borrosa" class="image-main">
    </div>
    
    <h1>¡Bienvenido a CraftCoin!</h1>
    <p>
        La plataforma definitiva que conecta a los jugadores de Minecraft con las tiendas de los servidores más famosos. En CraftCoin, te ofrecemos la oportunidad de explorar y comprar ítems de tus servidores favoritos de manera fácil y gratuita.
    </p>
    <h3>¿Cómo funciona?</h3>
    <p>
        En CraftCoin, reunimos las tiendas de los servidores más populares de Minecraft en un solo lugar, lo que te permite comprar herramientas, armas, armaduras, cosméticos, y mucho más utilizando nuestra moneda exclusiva: CraftCoin. Ganar CraftCoins es sencillo; simplemente interactúa con enlaces patrocinados y anuncios, y recibirás monedas que podrás usar para hacer compras en tu servidor favorito, ¡sin gastar dinero real!
    </p>
    <h3>¿Tienes un servidor favorito que no está en CraftCoin?</h3>
    <p>
        Queremos que nuestra comunidad sea parte del crecimiento de la plataforma. Únete a nuestro Discord y vota por los servidores que te gustaría ver incluidos. Estamos comprometidos a ofrecerte una experiencia personalizada, donde tu opinión cuenta.
    </p>
    <p>
        En CraftCoin, no solo te ayudamos a conseguir los mejores ítems y servicios en Minecraft, sino que también te damos la libertad de hacerlo sin costo alguno. ¡Comienza hoy mismo a ganar CraftCoins y explora todo lo que nuestros servidores asociados tienen para ofrecerte!
    </p>

    <h4>CraftCoin no está afiliado de ninguna manera a Mojang Studios.</h4>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7950063325955928"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7950063325955928"
     data-ad-slot="1986464776"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
