{% load static %}
<html lang="es">
<head>
    <meta name="clckd" content="04475da8cccb0fd9defa03f93e1e958d" />
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-7950063325955928">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>{% block Titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="shortcut icon" href="{% static "img/Favicon.png" %}" type="image/x-icon">
    <script src="{% static "js/mainS.js" %}"></script>
    <script src="https://kit.fontawesome.com/d3db0892d4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7950063325955928"
     crossorigin="anonymous"></script>

</head>
<body>
    <nav> 

        <a href="/"><img src="{% static "img/Logo-Sin-Fondo.png" %}" alt=""></a>
        <form action="{% url 'search_servers' %}" method="GET" class="search-server">
            <input type="text" name="q" placeholder="Busca Tu Servidor Favorito..." required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="user-data-nav">
            <a href="{% url "ganar-coins" %}" class="user-data-coin">
                {% if user.is_authenticated %}{{ user.coins }}{% else %}Coins{% endif %} <i class="fa-solid fa-coins"></i>
            </a>
            <a href="{% url 'cart' %}" class="user-data-cart">
                <i class="fa-solid fa-cart-shopping"></i>
                {% if user.is_authenticated %}
                    {% with cart_count=user.cartitem_set.count %}
                        {% if cart_count > 0 %}
                            <span class="cart-count">{{ cart_count }}</span>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </a>
            {% if user.is_authenticated %}
    
        {% if user.profile_picture %}
        <a href="{% url "perfil" %}" class="user-data-button-img">
            <img src="{{ user.get_profile_picture_base64 }}" alt="Foto de perfil" style="width: 50px; height: 100%; object-fit: cover; border-radius: 50%;">
        </a>
        {% else %}
        <a href="{% url "perfil" %}" class="user-data-button-img">
            <i class="fa-solid fa-user"></i>
        </a>
        {% endif %}
    </a>
{% else %}
    <a href="{% url 'login' %}" class="user-data-button">user/login</a>
{% endif %}

        </div>

    </nav>

    <div id="overlay"></div> <!-- Overlay para bloquear la interacción -->
    <div id="adblock-warning">
        <p>Desactive el bloqueador de anuncios antes de continuar.</p>
    </div>

    <div class="container">
        <div class="menu">
            {% block Menu_Container %}{% endblock %}
        </div>
        <div class="content">
            {% block Container %}{% endblock %}
        </div>
    </div>

    <footer>

        <div class="CraftCoin-footer">
            <a href="/"><img src="{% static "img/Logo-Sin-Fondo.png" %}" alt=""></a>
            <p>©2024 <a href="/">CraftCoin.</a> Powered by CraftCoin</p>
        </div>

        <div class="rterm">
            <div class="redes">
                <a href="https://www.youtube.com/@Craft-Coin" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/CraftcoinWeb" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.tiktok.com/@craft_coin" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://discord.com/invite/ZmHnUuqhSm" target="_blank"><i class="fa-brands fa-discord"></i></a>
            </div>
            <div class="terms">
                <a href="{% url "dmca" %}"><i class="fa-solid fa-shield-halved"></i> DMCA</a>
                <a href="{% url "terminos" %}"><i class="fa-solid fa-file-shield"></i> Terminos <br> Condiciones</a>
                <a href="{% url "privacidad" %}"><i class="fa-solid fa-user-lock"></i> Politcas <br> Privacidad</a>
                <a href="{% url "cookies" %}"><i class="fa-solid fa-cookie-bite"></i> Politicas <br> Cookies</a>
            </div>
        </div>

    </footer>
    <script src="{% static "js/main.js" %}"></script>
    
</body>
</html>
